body {
    background: linear-gradient(120deg, #121212, #2a2a2a);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}


.container {
    width: 90%;
    max-width: 450px;
    background: #1e1e1e;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header .logo {
    max-width: 100px;
    margin: 0 auto 10px;
    filter: drop-shadow(0 0 10px #a30d0a);
}


header h1 {
    margin: 0;
    font-size: 1.8em;
    color: #a30d0a;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper {
    width: 90%;
    max-width: 360px;
    background: #242424;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1em;
}

input[type="text"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 0.9em;
    background: #1e1e1e;
    color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #a30d0a;
    box-shadow: 0 0 8px rgba(229, 57, 53, 0.6);
    outline: none;
}


textarea {
    height: 100px;
    resize: none;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #a30d0a;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

button:hover {
    background-color: #b41311;
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}



footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #bbb;
}

footer p {
    margin: 0;
}

.resultado {
    text-align: center;
    animation: fadeIn 0.5s ease-out;
    position: relative;
    margin-top: 20px;
    padding: 20px;
    background: #242424;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

#resultado {
    width: 90%;
    max-width: 360px; /* Garante que fique alinhado com a caixa superior */
    margin: 20px auto; /* Centraliza no meio */
    background-color: #242424; /* Cor de fundo semelhante à outra caixa */
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    box-sizing: border-box; /* Inclui padding no tamanho total */
}

#ranking {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    display: block;
}

textarea::placeholder {
    white-space: pre-wrap; /*permite simular múltiplas linhas no placeholder*/
    line-height: 1.5; /*ajusta o espaçamento entre as linhas do placeholder*/
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#botao-copiar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
    color: #fff;
    cursor: pointer;
    display: none;
}
#botao-copiar:hover {
    color: #d32f2f;
}











